<?xml version="1.0"?>

<launch>

  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">

    <rosparam file="$(find robot_arm)/config.yaml" command="load" />

  </node>

  <node name="phantomx_reactor_controller" pkg="phantomx_reactor_arm_controller" type="phantomx_reactor.py" output="screen"/>

  <!--<node name="robot_arm" pkg="robot_arm" type="arm" output="screen"/>
-->
</launch>